:root {
    --re-bg: #111313;
    --re-bg-secondary: #181B1B;
    --re-bg-tertiary: #202323;

    --re-text: #F5F5F5;
    --re-text-muted: #B8B8B8;
    --re-text-dark: #252525;

    --re-red: #B51F2A;
    --re-red-dark: #74151C;
    --re-red-light: #D13A44;

    --re-purple: #8B2BB8;
    --re-purple-dark: #5D1B7A;

    --re-acid: #D7F000;
    --re-orange: #E65A32;

    --re-border: #383838;
    --re-border-light: #505050;
}

.markdown-preview-view,
.markdown-source-view.mod-cm6 .cm-scroller {
    background-color: var(--re-bg);
}


/* Texture très discrète */

.markdown-preview-view::before {
    content: "";
    position: fixed;
    inset: 0;

    pointer-events: none;
    z-index: 0;

    background:
        repeating-linear-gradient(135deg,
            rgba(245, 245, 245, 0.018) 0px,
            rgba(245, 245, 245, 0.018) 1px,
            transparent 1px,
            transparent 7px);

    opacity: 0.55;
}


.markdown-preview-view,
.markdown-source-view {
    color: var(--re-text);
}

.markdown-preview-view p,
.markdown-preview-view li,
.markdown-preview-view td {
    color: var(--re-text);
}

.markdown-preview-view strong,
.markdown-preview-view em {
    color: var(--re-red);
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    font-family: Cascadia Code;
}

.markdown-preview-view h1 {
    background: var(--re-bg-tertiary);
    padding: 15px 20px;
    text-transform: uppercase;
    box-shadow: 8px 8px var(--re-red-dark);
    margin-bottom: 24px;
}

.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    background: var(--re-bg-tertiary);
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    padding: 5px 35px;
    margin: 25px 0;
}

.markdown-preview-view ul>li::marker,
.markdown-preview-view ol>li::marker {
    color: var(--re-red-light);
    font-weight: 900;
}


.callout {
    background: var(--re-red-dark);
    --callout-color: 181, 31, 42;
    border-width: 2px 4px;
    border-style: solid;
    border-color: var(--re-red-light);
}

.callout-title {
    color: var(--re-text);
    --callout-color: 181, 31, 42;
}

.callout strong,
.callout em {
    color: var(--re-orange);
}

.markdown-preview-view table {
    width: 100%;
    border-collapse: collapse;
    background: var(--re-bg-secondary);
    color: var(--re-text);
}

.markdown-preview-view th {
    background: var(--re-red);
    color: var(--re-text);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.markdown-preview-view th,
.markdown-preview-view td {
    border: 1px solid var(--re-border);
    padding: 8px 10px;
}

.markdown-preview-view tr:nth-child(even) {
    background: var(--re-bg-tertiary);
}

.markdown-preview-view code {
    background: var(--re-bg-tertiary);
    color: var(--re-acid);
    border: 1px solid var(--re-border);
    border-radius: 0;
    padding: 5pxpx;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
}